<header>
    <nav class="navbar navbar-light bg-faded">
        <h1 class="navbar-brand mb-0">App</h1>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="offset-sm-4 col-sm-2"><span>Copyright 2016-2017</span></div>
                </div>
            </div>
        </div>
    </div>
</footer>